
<div id = "FavoritesHolder">

    <div id = "TitleDiv" class = "d-flex">

      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
        </span>
      </ng-template>

      <ngb-rating [(rate)]="HeartCount" [starTemplate]="t" [readonly]="true" [max]="1"></ngb-rating>


      <p> &nbsp;          &nbsp;</p>

      <h1 id = "HomeMovieInfoTitle">
        My Favorites
      </h1>

      <p> &nbsp;          &nbsp; </p>


      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
        <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
        </span>
      </ng-template>

      <ngb-rating [(rate)]="HeartCount" [starTemplate]="t" [readonly]="true" [max]="1"></ngb-rating>


    </div>
  
    <div id = "FavoritesTableContainer">

      <table class="table table-striped table-light table-hover
          table-sm"
        id="movieList">
        <thead class="thead-light">
          <tr>
            <th scope="col"> Title </th>
            <th scope="col"> Release </th>
            <th scope="col"> Plot </th>
            <th scope="col"> Genre </th>
            <th scope="col"> Director </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of favorites">
            <td scope="row" id = "homeMovieTitleColumn">
              {{t.movie.title}}
            </td>
            <td>{{t.movie.release}}</td>
            <td>{{t.movie.synopsis}}</td>
            <td>{{t.movie.genre}}</td>
            <td>{{t.movie.director}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  
</div>


<p>&nbsp;</p>